* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

input,
button,
textarea,
select {
  font-family: "Montserrat", sans-serif;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
 margin: 0;
  font-family: "Montserrat", sans-serif;
}

ul,
ol {
  list-style: none;
}


/* task ---- 1 */

.item {
  margin-bottom: 24px;
}

.title-main {
  font-weight: 600;
    font-size: 24px;
    line-height: 1.33333;
    letter-spacing: 0.04em;
    color: #2e2f42;
    margin-bottom: 16px;
    padding-top: 16px;
}

.list-item {
  padding-left: 16px;
border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #2e2f42;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
}

/* task ---- 2  */

/* task -----3  */
.input:hover {
border: 1px solid #000;
}


.input {
  border: 1px solid #808080;
    border-radius: 4px;
    width: 360px;
    height: 40px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.04em;
      color: #2e2f42;
      padding-left: 16px;
      margin-bottom: 16px;
}

/* task ----- 4  */

.login-form {
  padding-top: 45px;
  padding-left: 45px;
display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 16px;
}

.label-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #2e2f42;
}

.input-form {
  border: 1px solid #808080;
    border-radius: 4px;
    width: 360px;
    height: 40px;
}

.input-form:hover {
border: 1px solid #000;
}

.form-btn:hover {
  background-color: #6c8cff;
}

.form-btn {
  margin-top: 16px;
border-radius: 8px;
border: none;
  padding: 8px 16px;
  width: 86px;
  height: 40px;
  background-color: #4e75ff;
  display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
}

/* task -----5  */


.widget {
  padding-left: 45px;
  padding-top: 45px;
}

.article-color {
  font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #2e2f42;
}

.change-color:hover {
  background-color: #6c8cff;
}

.change-color {
  display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    border-radius: 8px;
    border: none;
      padding: 8px 16px;
      width: 148px;
      height: 40px;
      background-color: #4e75ff;
      font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #fff;
}

/* task ----6  */

.input-six {
border: 1px solid #808080;
  border-radius: 8px;
  padding: 8px 72px;
  width: 150px;
  height: 40px;
  padding-left: 25px;
}

.create-btn:hover {
  background-color: #6c8cff;
}

.create-btn {
  border: none;
  margin-left: 15px;
    gap: 10px;
    border-radius: 8px;
      padding: 8px 16px;
      width: 120px;
      height: 40px;
      background-color: #4e75ff;
      font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #fff;
}

.destroy-btn:hover {
  background-color: #ff7070;
}

.destroy-btn {
  border: none;
  margin-left: 15px;
  border-radius: 8px;
  padding: 8px 16px;
  width: 120px;
  height: 40px;
  background-color: #ff4e4e;
  font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
}




